<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<h1> Group of the hottest movies </h1>

<% for(var i=0; i<films.length; i++){%>

    <a href="/<%=films[i].slug%>"> <img src="<%=films[i].image_URL%>" height="400px" width="40%"> </a>

        <h1>Category:<%=films[i].category%></h1>
    <h2><%=films[i].name %></h2>
    <h3>
        About:
        <%=films[i].description %>
    </h3>
    <a href="<%=films[i].trailer%>"> Trailer </a>
    <%}%>
<h2></h2>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
