<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film page</title>
</head>
<body>
    
<img src="<%=film.image_URL%>">
<h1>
    <%=film.name%>
</h1>
<h2>
    <%=film.description%>
</h2>

<a href="<%=film.Trailer %>"> <h1>Trailer</h1></a>


   <% for(var i=0; i<(hottestFilms.length)/2; i++ ){ %>
         <%#  movies Card %>
         <% if(hottestFilms[i].slug == film.slug) %>
           <% continue %>
         <div>
       <a href="<%= hottestFilms[i].slug%>">

        <img src="<%hottestFilms[i].image_URL%>" >
       </a>


         </div>
  <% } %>

    </body>

  
  
</body>
</html>