<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film page</title>
    <style>
     body{
       font-family:'Arial';
     }
    </style>
</head>
<body>
    
  <div>
<img src="<%=film.image_URL%>" style="float:right;top: 0px;" width="20%" height="250px">
<h1>
    <%=film.name%>
</h1>

<hr>

<p>
    <%=film.description%>
</p>
</div>

<hr>


<a style="text-decoration: none;" href="<%=film.trailer%>"> 
  <h1>Trailer</h1>
</a>

<hr>

<h1> recommended movies </h1>
   <% for(var i=0; i<films.length; i++){ %>
        
         <% if(films[i].slug !== film.slug) { %>
           
         <div style="display: inline;">
           
       <a href="/<%=films[i].slug%>">

        <img width="200px" height="300px" src="<%=films[i].image_URL%>" >
       </a>


         </div>
      <% } %>
  <% } %>


  
  
</body>
</html>